.first-container{
    position: relative;
}
.common-first-container{
    background-color: gray;
    width: 300px;
    height: 300px;
    margin:5px;
    
}
.first-left-float{
float: left;
}
.second-left-float{
    float: left;
}
.third-left-float{
    float: left;
}

.first-clear{
    clear: left;
}

.common-second-container{
    background-color: gray;
    width: 300px;
    height: 300px;
    margin:5px;
    display: inline-block;
}



